
ImageViewer/ImageViewer.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

ImageViewer/ImageViewer.xcodeproj/project.xcworkspace/xcuserdata/donatas.xcuserdatad/UserInterfaceState.xcuserstate

ImageViewer/ImageViewer.xcodeproj/xcuserdata/donatas.xcuserdatad/xcschemes/xcschememanagement.plist
